<html xmlns:th="https://www.thymeleaf.org/">
  <div th:replace="fragments/commonui :: header"></div>

  <body>
  <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card-header bg-primary text-center text-white">
        <h3>Specialization Edit Page</h3>
      </div>
      <div class="card-body">
        <form th:action="@{/spec/update}" method="post" id="specForm" th:object="${specialization}">
        <!-- row#0 -->
          <div class="row">
            <div class="col-2">
              <label for="specId"><b>ID</b></label>
            </div>
            <div class="col-4">
              <input
                type="text"
                th:field = "*{specId}"
                class="form-control"
                readonly
              />
            </div>
            <div class="col-6">
              <span id="specIdError"></span>
            </div>
          </div>
          <!-- row#1 -->
          <div class="row">
            <div class="col-2">
              <label for="specCode"><b>CODE</b></label>
            </div>
            <div class="col-4">
              <input
                type="text"
                th:field = "*{specCode}"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="specCodeError"></span>
            </div>
          </div>

          <!-- row#2 -->
          <div class="row">
            <div class="col-2">
              <label for="specName"><b>NAME</b></label>
            </div>
            <div class="col-4">
              <input
                type="text"
                th:field = "*{specName}"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="specNameError"></span>
            </div>
          </div>

          <!-- row#3 -->
          <div class="row">
            <div class="col-2">
              <label for="specNotes"><b>NOTE</b></label>
            </div>
            <div class="col-4">
              <input
                type="text"
                th:field = "*{specNotes}"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="specNotesError"></span>
            </div>
          </div>
          <div>
              <button type="submit" class="btn btn-success"> Update <i class="fa fa-pencil-square" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
      <div th:if="${message!=null}" class="card-footer bg-white text-info">
        <span th:text="${message}"></span>
      </div>
    </div>
    <script th:src="@{/myjs/spec11_validate.js}"></script>
  </body>
</html>
