<html xmlns:th="https://www.thymeleaf.org/">
	<div th:replace="fragments/commonui :: header"></div>
<body>
<div th:replace="fragments/commonui :: menu"></div>
    <div class="container ">
        <div class="card-header bg-primary text-center text-white">
            <h3>Specialization Data</h3>
        </div>
        <div class="card-body">
        <a th:href= "@{/spec/excel}" class = "btn btn-primary text-white">Excel_Export</a>
            <table class="table table-hover">
                <tr class="bg-info text-white">
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Note</th>
                    <th>Operations</th>
                </tr>
                <tr th:each="ob:${spec_list}">
                    <td th:text="${ob.specId}"></td>
                    <td th:text="${ob.specCode}"></td>
                    <td th:text="${ob.specName}"></td>
                    <td th:text="${ob.specNotes}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/spec/delete(id=${ob.specId})}">Delete <i class="fa fa-trash" aria-hidden="true"></i> </a>
                        <a class="btn btn-warning" th:href="@{/spec/edit(id=${ob.specId})}"> Edit <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${message!=null}" class="card-footer bg-white text-danger">
            <h3>
               <span th:text="${message}"></span>
            </h3>  
        </div>
        
    </div>
</body>

</html>